@media (max-width: 769px){
    main::after{
        background: linear-gradient(0deg, black 20%, rgba(0, 0, 0, 0) 65%) no-repeat;
        width: 100%;
    }

    div.personagem img{
        height: 85%;
    }

    div.conteudo{
        justify-content: flex-end;
        left: 0px;
        top: -20%;
        max-width: 100%;
        padding: 30px;
    }

    div.conteudo .nome-personagem{
        font-size: 36px;
    }

    div.conteudo p{
        max-width: 420px;
    }

    nav .botoes{
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
    }

    nav button img{
        max-width: 80px;
    }
}

@media (max-width: 450px){
    div.personagem img{
        height: 100vh;
    }

    div.conteudo .logo{
        width: 150px;
        height: 75px;
    }

    div.conteudo{
        top: -35%;
        margin-bottom: 10px;
    }

    div.conteudo .nome-personagem{
        font-size: 24px;
    }

    div.conteudo p{
        max-width: 270px;
    }

    nav .botoes{
        top: -3%;
        padding: 20px;
        gap: 15px;
    }

    nav .botao img{
        height: 60px;
        width: 60px;
    }
}

@media (max-height: 515px){
    nav .botoes{
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
    
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    
        width: 110px;
        min-height: 100%;
        gap: 15px;
    }

    nav .botao img{
        height: 50px;
        width: 50px;
    }
}
